services:
  bitcoin-mainnet:
    image: bitcoin/bitcoin:latest
    container_name: bitcoind-mainnet
    command:
      [
        "bitcoind",
        "-server=1",
        "-txindex=1",
        "-rpcbind=0.0.0.0",
        "-rpcallowip=0.0.0.0/0",
        "-rpcuser=username",
        "-rpcpassword=password",
      ]
    volumes:
      - bitcoind-mainnet-data:/home/bitcoin/.bitcoin
    healthcheck:
      test: ["CMD", "bitcoin-cli", "-rpcuser=username", "-rpcpassword=password", "-rpcconnect=127.0.0.1", "-rpcport=8332", "getblockchaininfo"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

  app:
    build: .
    container_name: brc721-app
    environment:
      - RUST_LOG=info
      - BITCOIN_RPC_URL=http://bitcoind-mainnet:8332
      - BITCOIN_RPC_USER=username
      - BITCOIN_RPC_PASS=password
    depends_on:
      bitcoin-mainnet:
        condition: service_healthy
    ports:
      - "127.0.0.1:18443:18443"
    restart: unless-stopped

volumes:
  bitcoind-mainnet-data:
